@model IEnumerable<Rezultati.Models.UtakmicaViewModel>

<table id="tabela-igraci" class="table table-striped" cellspacing="0">
    <thead>
        <tr class="mr-0">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="p-0 pr-1" align="right"><button type="button" id="dodaj-utakmicu" class="btn btn-sm btn-primary mr-0" data-toggle="modal" data-target="#modal-dodaj-utakmicu">Dodaj utakmicu</button></td>
        </tr>
        <tr>
            <td>Utakmice</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="p-0"></td>
            <td class="p-0 pt-2" align="right">Denver Nuggets</td>
            <td class="p-0 pt-2" align="center">54 : 55</td>
            <td class="p-0 pt-2">Boston Celtics</td>
            <td class="p-0 pr-1" align="right"><button type="button" class="btn btn-sm btn-success mr-0 odigraj" data-toggle="modal" data-target="#modal-dodaj-igraca">Odigraj</button></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>



