
@{
    ViewBag.Title = "Pregled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3 mb-3">Pregled kola</h2>

<div class="row">
    <div class="col-md-2">
        <div class="card-deck" style="width: 200px; margin-left: -50px">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Datum održavanja</h4>
                    <div class="md-form">
                        <input type="text" id="kalendar" class="form-control datepicker">
                        <label id="lbl-kalendar" for="kalendar"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10" id="tabela">

    </div>
</div>

<div class="modal fade" id="modal-dodaj-utakmicu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading">Dodaj utakmicu</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">


                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-9 text-center">
                        <div class="md-form">
                            <input type="number" id="kolo" class="form-control">
                            <label for="kolo">Kolo</label>
                        </div>
                        <select id="domaci-tim" class="browser-default custom-select mb-4" style="margin-left: -50px">
                                
                        </select>
                        <select id="gostujuci-tim" class="browser-default custom-select" style="margin-left: -50px">

                        </select>
                        <div class="md-form">
                            <input type="text" id="datum-odigravanja" class="form-control datepicker">
                            <label id="lbl-datum-odig" for="datum-odigravanja">Datum odigravanja</label>
                        </div>

                    </div>
                    <div class="col-1"></div>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
                <button id="potvrdi" type="button" class="btn btn-sm btn-info" data-dismiss="modal">Potvrdi</button>
                <button type="button" class="btn btn-sm btn-outline-info waves-effect" data-dismiss="modal">Otkaži</button>
            </div>
        </div>
    </div>
</div>



@section scripts
    {
    <script src="~/Scripts/Site/pregled.js"></script>
    <script>
        var fpDatumOdigravanja = flatpickr("#datum-odigravanja", {
            defaultDate: new Date(),
            onChange: function (selectedDates, dateStr, instance) {

                var podaci = {

                    pocetniDatum: dateStr.substr(0, 10),
                    krajDatum: dateStr.substr(14, 10),
                };
            }
        });
        $('#kalendar').change(function () {
            var data = {
                datum: $(this).val()
            };
            $.get('/Utakmica/ChangeDate', data, function (result) {
                $('#tabela').empty();
                $('#tabela').append(result);
            });
        });
    
        $(document).ready(function () {
            $.get('/Utakmica/ListaTImova', '', function (result) {
                var domaci = '';
                var gost = '';
                $.each(result, function (index, item) {
                    domaci += '<option class="dom-opcija" value="' + item.Id + '">' + item.Naziv + '</option>';
                    gost += '<option class="gost-opcija" value="' + item.Id + '">' + item.Naziv + '</option>';
                });
                domaci += '<option  disabled selected>Domaći tim</option>';
                gost += '<option " disabled selected>Gostujući tim</option>';
                $('#domaci-tim').html(domaci);
                $('#gostujuci-tim').html(gost);
                $('#lbl-datum-odig').addClass('active');
            });
        });
       
        $('#potvrdi').click(function () {
            var data = {
                datum : $('#datum-odigravanja').val(),
                kolo : $('#kolo').val(),
                domaciId: $('.dom-opcija:selected').val(),
                gostId: $('.gost-opcija:selected').val()
            };

            $('#datum-odigravanja').val('');
            $('#kolo').val('');
            $('#domaci-tim').val('');
            $('#gostujuci-tim').val('');
            $.get('/Utakmica/AddGame', data, function (result) {
                $('#tabela').empty();
                $('#tabela').append(result)
            });
        });
    </script>
}





